<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <!-- injecting dynamic data -->
    <h1>{{pageTitle}}</h1>
    <p>{{welcomeMessage}}</p>
    <footer>
      <p>Footer text</p>
    </footer>
  </body>
</html>
