<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <!-- injecting dynamic data -->
    {{> header}}
    <!-- screamIt takes welcomeMessage as argument -->
    <p>{{screamIt welcomeMessage}}</p>
    <!-- syntax for partials -->
    {{> footer}}
  </body>
</html>
