<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maintenance</title>
  </head>
  <body>
    <!-- injecting dynamic data -->
    <h1>We'll be right back</h1>
    <!-- screamIt takes welcomeMessage as argument -->
    <!-- syntax for partials -->
    {{> footer}}
  </body>
</html>
